body{
  margin: 0 auto;
  padding:0;
  background: #333;
}
input{
  width: 100%;
  max-width: 700px;
  margin:0;
  padding:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color:white;
  max-width: 700px;
  margin: 0 auto;
  margin-top :150px;
  background: #000;
}
