datepicker,
.datepicker-calendar-header,
.datepicker-calendar-body,
.datepicker-calendar-days-header,
.datepicker-calendar-years-pagination-pages {
  font-family: Helvetica Neue;
  font-size: 13.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  float: left;
  clear: right;
  position: relative;
}
.datepicker-calendar {
  background: white;
  color: #333;
  position: absolute;
  z-index: 999;
  min-width: 220px;
  margin: 0 auto;
  width: 101%;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  visibility: hidden;
  overflow:hidden;
  margin-left:-0.5%;
  padding: 0 0 2% 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.datepicker-calendar.datepicker-open {
  visibility: visible;
}
.datepicker-calendar-header {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
.datepicker-calendar-header:nth-child(odd) {
  background: #138EFA;
}
.datepicker-calendar-header:nth-child(even) {
  background: #7BC6FC;
}
.datepicker-calendar-header-left,
.datepicker-calendar-header-middle,
.datepicker-calendar-header-right {
  width: 15%;
  float: left;
}
.datepicker-calendar-header-middle {
  width: 70%;
}
.datepicker-calendar-body {
  width: 96%;
  margin: 2%;
  text-align: center;
}
.datepicker-calendar-day {
  cursor: pointer;
  font-size: 12.5px;
  width: 12.2%;
  margin:5px 1%;
  padding: 1.5% 0;
  float: left;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.datepicker-calendar-day:hover,.datepicker-calendar-day.datepicker-active {
  background: rgba(0, 0, 0, 0.03);
}
.datepicker-calendar-header a, .datepicker-calendar-header a:hover {
  text-decoration:none;
  padding:3% 9% 4% 9%;
  font-size: 13.5px;
  color:rgba(0, 0, 0, 0.55);
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.datepicker-calendar-header a:hover {
  color:rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.45);
}
.datepicker-calendar-month {
  color:#fff;
}
.datepicker-calendar-month span {
  font-size: 13px;
  margin-left:1%;
  color:rgba(0, 0, 0, 0.4);
}
.datepicker-calendar-month a span  i {
  font-style: normal;
  font-size:15px;
}
.datepicker-calendar-month a, .datepicker-calendar-month a:hover {
  padding: 3px;
  margin-left:1%;
}
.datepicker-calendar-years-pagination{
  padding:2% 0 0 0;
  float:left;
  clear: right;
}
.datepicker-calendar-years-pagination a, .datepicker-calendar-years-pagination a:hover {
  font-size:12px;
  padding:0 7px;
  font-weight: normal;
  margin:3px 1% 0 1%;
  line-height: 20px;
  display: inline-block;
}
.datepicker-calendar-years-pagination a.datepicker-active {
  color:rgba(0, 0, 0, 0.9);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.45);
}
.datepicker-calendar-years-pagination-pages a,.datepicker-calendar-years-pagination-pages a:hover{
  padding:5px 10px;
}
.datepicker-calendar-days-header{
  max-width: 100%;
  margin:0 auto;
  padding:0 2% 0 2%;
  background: rgba(19, 142, 250, 0.08);
  border-bottom:1px solid rgba(0,0,0,0.02);
}
.datepicker-calendar-days-header div{
 width: 13.2%;
 font-weight: 500;
 font-size: 11.5px;
 padding:10px 0.5%;
 float:left;
 text-align: center;
 color:rgba(0,0,0,0.7);
}
.datepicker-calendar-days
.datepicker-default-button{
  font-size: 18.5px;
  position: relative;
  bottom:-0.5px;
}
.datepicker-calendar-day.datepicker-disabled,
.datepicker-calendar-day.datepicker-disabled:hover,
.datepicker-calendar-years-pagination a.datepicker-disabled,
.datepicker-calendar-years-pagination a.datepicker-disabled:hover,
.datepicker-calendar-years-pagination a.datepicker-active.datepicker-disabled,
.datepicker-calendar-years-pagination a.datepicker-active.datepicker-disabled:hover{
  color:rgba(0,0,0,0.2);
  background: rgba(25,2,0,0.02);
  cursor: default;
}
.datepicker-calendar .hidden {
  visibility: hidden;
}
