datepicker, .datepicker-calendar-header, .datepicker-calendar-body, .datepicker-calendar-days-header {
  font-family: Helvetica Neue;
  font-size: 13.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  float: left;
  clear: right;
  position: relative;
}
.datepicker-calendar {
  background: white;
  color: #333;
  position: absolute;
  z-index: 999;
  min-width: 220px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  margin-top: 1px;
  visibility: hidden;
  overflow:hidden;
  float: left;
  clear: right;
  padding: 0 0 2% 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.datepicker-calendar.datepicker-open {
  visibility: visible;
}
.datepicker-calendar-header {
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  overflow: hidden;
}
.datepicker-calendar-header:nth-child(odd) {
  background: #26BAF0;
}
.datepicker-calendar-header:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
.datepicker-calendar-header-left {
  width: 15%;
  float: left;
}
.datepicker-calendar-header-middle {
  width: 70%;
  float: left;
}
.datepicker-calendar-header-right {
  width: 15%;
  float: left;
}
.datepicker-calendar-body {
  width: 96%;
  margin: 2%;
  text-align: center;
}
.datepicker-calendar-day {
  cursor: pointer;
  width: 12.2%;
  margin:5px 1%;
  padding: 1.5% 0;
  float: left;
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.datepicker-calendar-day.datepicker-active {
  background: rgba(3, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.3);
}
.datepicker-calendar-day:hover {
  background: rgba(0, 0, 0, 0.03);
}
.datepicker-calendar-day.datepicker-disabled,.datepicker-calendar-day.datepicker-disabled:hover{
  color:rgba(0,0,0,0.2);
  background: rgba(25,2,0,0.02);
  cursor: default;
}
.datepicker-calendar-header a, .datepicker-calendar-header a:hover {
  text-decoration:none;
  padding:5px 10px;
  font-size: 13.5px;
  color:rgba(0, 0, 0, 0.55);
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align:center;
}
.datepicker-calendar-header a:hover {
  color:rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.45);
}
.datepicker-calendar-month {
  color:#fff;
}
.datepicker-calendar-month span {
  font-size: 13px;
  margin-left:1%;
  color:rgba(0, 0, 0, 0.4);
}
.datepicker-calendar-month a span  i {
  font-style: normal;
  font-size:15px;
}
.datepicker-calendar-month a, .datepicker-calendar-month a:hover {
  padding: 3px;
  margin-left:1%;
}
.datepicker-calendar-years-pagination a, .datepicker-calendar-years-pagination a:hover {
  font-size:12px;
  padding:3px 7px;
  font-weight: normal;
  margin:0 2px;
}
.datepicker-calendar-years-pagination a.datepicker-active {
  color:rgba(0, 0, 0, 0.9);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.45);
}
.datepicker-calendar-days-header{
  max-width: 96%;
  margin:10px 2% 0 2%;
}
.datepicker-calendar-days-header div{
 width: 13.2%;
 padding:5px 0.5%;
 background: rgba(25,2,0,0.035);
 float:left;
 text-align: center;
}.datepicker-calendar-days-header div:nth-child(even){
background:rgba(25,2,0,0.02);
}