datepicker,.datepicker-calendar-header,.datepicker-calendar-body {
  font-family: Helvetica Neue;
  font-size: 13.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
   width: 100%;
   margin: 0 auto;
   float: left;
   clear: right;
   position: relative;
}
.datepicker-calendar{
  background: white;
  color: #333;
  position: absolute;
  z-index: 999;
  min-width: 220px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px solid rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 0 1px solid rgba(0,0,0,0.15);
  -ms-box-shadow: 0 0 0 1px solid rgba(0,0,0,0.15);
  -o-box-shadow: 0 0 0 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px solid rgba(0,0,0,0.15);
  margin-top: -4px;
  visibility: hidden;
  float: left;
  clear: right;
  padding: 0 0 2% 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.datepicker-calendar.datepicker-open{
  visibility: visible;
}
.datepicker-calendar-header{
  text-align: center;
  font-size: 15px;
  line-height: 40px;
}
.datepicker-calendar-header:nth-child(odd){
background: #26BAF0;
}
.datepicker-calendar-header:nth-child(even){
  background: rgba(0,0,0,0.05);
}
.datepicker-calendar-header-left{
 width: 20%;
 float: left;
}
.datepicker-calendar-header-middle{
  width: 60%;
  float: left;
}
.datepicker-calendar-header-right{
 width: 20%;
 float: left;
}
.datepicker-calendar-body{
  width: 96%;
  margin: 2%;
  text-align: center;
}
.datepicker-calendar-day{
  cursor: pointer;
  width: 14.2%;
  padding: 1.8% 0;
  float: left;
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.datepicker-calendar-day.datepicker-active{
  background: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.3);
}
.datepicker-calendar-day:hover{
  background: rgba(0,0,0,0.05);
}
.datepicker-calendar-header a,.datepicker-calendar-header a:hover {
  text-decoration:none;
  padding:5px 10px;
  font-size: 13.5px;
  color:rgba(0,0,0,0.55);
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align:center;
}
.datepicker-calendar-header a:hover{
  color:rgba(0,0,0,0.9);
  background: rgba(255,255,255,0.45);
}
.datepicker-calendar-month{
  color:#fff;
}
